.game-board {
  margin: 8px;
}

.word-heading {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 6px;
}

.word-divider {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px 20px;
  height: 0;
}

.words {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tiles {
  margin-top: 20px;
  text-align: center;
}